.home {
	min-width: 940px;
}

.home--image {
	width: 100%;

	/* IMPORTANT !!!! */
	/* IMPORTANT !!!! */
	/* MAKE THE NAVBAR'S min-width same */
	/* min-width: 900px; */

	min-height: 600px;
	/* margin-bottom: -330px; */
	object-fit: cover;

	/* this is good for narrow window */
	/* margin-bottom: -30vh; */

	/* Get behind of everything */
	/* z-index: -1 !important; */
	/* to make it fade towards the bottom */
	mask-image: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 1) 50%,
		rgba(0, 0, 0, 0)
	);

	border-radius: 8%;
}
.background {
	height: 600px;
	margin-bottom: -600px;
	width: 100vw;

	background-color: rgba(19, 25, 33, 0.85);
	border-bottom-left-radius: 8%;
	border-bottom-right-radius: 8%;

	/* overflow: hidden; */

	/* IMPORTANT !!!! */
	/* IMPORTANT !!!! */
	/* MAKE THE NAVBAR'S min-width same */
	min-width: 900px;

	min-height: 600px;

	/* Get behind of everything */
	z-index: -1 !important;
}

.home--row {
	display: flex;
	z-index: 1;
	margin: initial 5px;
	justify-content: center;
}

.home {
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}

.carousel-cont {
	width: inherit;
	margin-bottom: -300px;
	min-width: 900px;
	height: 600px;
}

.carousel {
	height: 600px;
	border-bottom-left-radius: 8%;
	border-bottom-right-radius: 8%;
}
