.payment {
	background-color: white;
}

.payment--container > h1 {
	text-align: center;
	padding: 10px;
	font-weight: 400;
	background-color: rgb(234, 237, 237);
	border-bottom: 1px solid lightgray;
}

.payment--container > h1 > a {
	text-decoration: none;
	border: none;
}

.payment--section {
	display: flex;
	padding: 20px;
	margin: 20px;
	border-bottom: 1px solid lightgray;
}

.test-info {
	text-align: center;
	font-weight: 300;
	font-size: 0.9em;
}

.payment--title {
	/* Titles take up 20% now */
	flex: 0.2;
}

.payment--address,
.payment--items,
.payment--details {
	flex: 0.6;
}

.payment--priceContainer {
	margin-top: 20px;
}

.payment--priceContainer > button {
	background-color: #f0c14b;
	border: 1px solid;
	margin-top: 10px;
	border-color: #a88734 #9c7e31 #846a29;
	color: #111;
}
